.game-about__game-field {
	align-items: center;
	padding-bottom: 1.5rem;
}
.game-field__dialog {
	width: 400px;
	margin-top: 0.5rem;
	padding-left: 0.8rem;
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid #000;
}
.game-about__start-button {
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid #000;
	width: 160px;
	height: 60px;
	margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
}
.game-about__info {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}
.info {
	padding-left: 0;
}
.info-list__text {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.info-list__text:hover {
	color: #fff;
}
.rules__item {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.word-list__item {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;	
}