.developer-info {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.developer-info__text {

}
.developer-info__git-link {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	color: #fff;
	text-decoration: none;
}
.developer-info__git-link:hover {
	color: #1f8fb7;
}