.insides__header {
	background-color: #f789e4;
}
.section__navigation {
	background-color: #4a52c4;
}
.insides__section {
	background-color: #ca42c4;
}
.footer__right-part {
	background-color: #02cfc9;
}
.footer__left-part {
	background-color: #972fc4;
}
.game-field__dialog {
	background-color: #fff;
}