body {
	width: 100%;
	height: 100%;
	position: relative;
}
.insides__header,
.insides__section,
.insides__footer {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}
.header__logo,
.game__field,
.footer,
.form__input-row,
.section {
	display: flex;
	flex-direction: row;
}
.navigation__menu,
.game__game-about,
.footer__left-part,
.footer__right-part,
.game-about__game-field,
.section__game,
.game-field__dialog {
	display: flex;
	flex-direction: column;
}