body {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	position: relative;
	background-color: #1eae7c;
}
.game-container__game-about {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}
/* {
	display: flex;
	flex-direction: row;
}*/
.game-about__game-field,
.game-field__dialog,
.game-about {
	display: flex;
	flex-direction: column;
}
.hideElement {
	display: none;
}
.textHighlight {
	margin-top: 5px;
	margin-bottom: 5px;
}
.textHighlightComputer {
	font-style: italic;
	color: #1f8fb7;
	margin-top: 5px;
	margin-bottom: 5px;

}