.game-field {
}
.form__input-row {

}
.input-row__game-start {
	margin: 0.5rem auto;
}
.input-row__submit {
	margin-top: 0.5rem;
	margin-left: auto;
	margin-right: auto;
}
.input-row__restart {
	margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
}
.input-row__field-warning {
	margin-top: 0.3rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #f7054d;
	border: 2px solid #f7054d;
	border-radius: 5px;
}
article {
	margin-top: 200px;
}
.inputfield {
	width: 400px;
	height: 30px;
}